.content-search{   
   display: flex;
   flex-direction: row;
   height: 33px;
   width: 230px;
   border: 2px solid #08D6A3;
   border-radius: 4px;
   justify-content: space-between;
   transition: box-shadow .3s;
}

.content-search:hover, .content-search:focus{
    box-shadow: 0px 0px 8px #08D6A3;
}

.content-input-search{
   align-items: flex-start;
   height: 100%;
   width: 85%;
}

.input-search{      
   background: #fff;
   height: 100%;
   width: 100%;
   text-decoration: none;
   border-radius: 4px;
   box-shadow: 0 0 0 0;
   border: 0 none;
   outline: 0;   
   padding-left: 5px;
   font-size: 14px;
}

.input-search:hover, .input-search:focus{
    box-shadow: 0px 0px 8px #08D6A3;
}

.content-img-search{      
   display: flex;
   align-items: flex-end;
   width: 15%;
   height: 100%;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   background: #08D6A3;
}