.body-home-little{
   display: flex;
   position: absolute;
   flex-direction: column;   
   flex-flow: column;
   justify-content: center;
   width: calc(100% - 55px);
   height: calc(100% - 50px);   
   background: #F2F7F8;
   right: 0;
   bottom: 0;
   transition: width .5s ease;
}

.body-home-big{
   display: flex;
   position: fixed;
   flex-direction: column;
   flex-flow: column;
   justify-content: center;
   width: calc(100% - 170px);  
   height: calc(100% - 50px);
   background: #F2F7F8;
   right: 0;
   bottom: 0;
   transition: width .5s ease;
}