*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins';
}

@font-face {
   font-family: 'Poppins';
   src: url('../fonts/Poppins/Poppins-Light.ttf') format("truetype");
}

html, body {
   width: 100%;
   height: 100%;
}

#root{
   height: 100%;
}

.container{
   width: 100%;
   height: 100%;
   bottom: 0;
   display: flex;
}

.statistics-panel{   
   display: flex;
   position: absolute;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   width: 100%;
   height: 200px;
   padding: 10px 10px 0px 10px;
   top: 0;
}

.statistics-squares{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 175px;
   width: 100%;
   border-radius: 6px;
   color: #fff;
   padding: 7px;
   margin: 0px 10px 00px 10px;
}

.statistics-squares-titles-container{
   display: flex;
   flex-direction: row;
   position: absolute;
   text-align: center;
   width: 100px;
   top: 10px;
}

.statistics-squares-titles{   
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: flex-start;
   top: 0px;
   height: auto;
   width: 100%;
   overflow-wrap: break-word;
}

.statistics-squares-values{
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
}