.container-login{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #F8F8FF;   
}

.wrap-login{
    width: 390px;   
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    padding: 45px 50px 27px 50px;
    box-shadow: 0px 0px 15px 1px #333;
    height: 530px;
}

.login-form{
    width: 100%;
    height: 80%;
}

.login-form-title{
    display: block;
    font-size: 30px;
    color: azure;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
}

.wrap-input{
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.input{
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    border: none;
    display: block;
    width: 100%;
    height: 45px;
    background-color: transparent;
    padding: 0 5px;
}

.focus-input{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    color: #adadad;
}

.focus-input::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;      
    background: #08D6A3;
}

.focus-input::after{
    font-size: 15px;
    color: #999999;
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s; 
}

.input:focus{
    outline: 0;
}

.input:focus + .focus-input:after{
    top: -15px;
}

.input:focus + .focus-input:before{
    width: 100%;
}

.has-val + .focus-input::after{
    top: -15px;
}

.has-val + .focus-input::before{
    width: 100%;
}

.container-login-form-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.login-form-btn{
    font-size: 15px;
    font-weight: 600;   
    border-radius: 10px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #08D6A3;
    transition: box-shadow .3s;
    border: 0 none;
    margin-top: 30px;
}

.login-form-btn:hover, .login-form-btn:focus{
    box-shadow: 0px 0px 8px #08D6A3;
    cursor: pointer;
    outline: thin dotted; 
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.text-center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;            
}

.forgot-password{
    font-size: 14px;
    color: #ADADAD;
    line-height: 1.5;
    text-decoration: none;
}

.forgot-password:hover, .forgot-password:focus {
    color: #08D6A3;
    outline: thin dotted; 
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    font-weight: 600;
}

.img-title-login{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}