.content-table-pedido::-webkit-scrollbar {
    width: 10px;
    border: 1px solid #000;
}

.content-table-pedido::-webkit-scrollbar-track {
    background: #f0f0f0;    
}

.content-table-pedido::-webkit-scrollbar-track:hover {
    background: #d8d8d8;  
}

.content-table-pedido::-webkit-scrollbar-thumb {
    background: #CCCCCC;
    border: 1px solid #bdbdbd;     
}

.content-table-pedido::-webkit-scrollbar-thumb:hover {        
    background: #9c9c9c;
    border: 0 none;
    outline: none;
}

.content-table-pedido{
    scrollbar-width: thin;
    flex-grow: 1;
    flex-basis: 0px;
    padding: 0px 0px 0px 10px;
    overflow-y: scroll;
    width: auto;
    margin-right: 10px;
}

.table-pedido{
    width: 100%;
    flex-grow: 1;
    background-color: #fff;    
    color: #000;
    border-collapse: collapse;
    border-bottom: 1px solid #C0C0C0;
}

.header-row-table-pedido{    
    text-align: center;
    height: 40px;
    background: #fff;
    color: #000;
    border: 1px solid #C0C0C0;
}

.header-row-table-pedido th{
    text-align: center;    
    border-bottom: 2px solid #363636;    
    border-left: 1px solid #C0C0C0;
}

.data-row-table-pedido{    
    text-align: center;   
    height: 36px;
}

.data-row-table-pedido td{
    text-align: center;
    border-right: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
}

.content-actions-table{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.button-list-edit{
    display: flex;
    height: 26px;
    width: 26px;
    background: #0D6EFD;
    border: 0 none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.button-list-edit:hover, .button-list-edit:focus{
    box-shadow: 0 0 8px #0D6EFD;
}

.button-list-delete{
    display: flex;
    height: 26px;
    width: 26px;
    background: #DC3545;
    border: 0 none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.button-list-delete:hover, .button-list-delete:focus{
    box-shadow: 0 0 8px #DC3545;
}

.content-footer-pedido{
    display: flex;
    flex-grow: 0;
    flex-basis: 40px;
    align-items: center;
    justify-content: center;
    background-color: #F2F7F8;
    padding: 5px 5px 5px 5px;
}

.content-pagination{
    display: flex;
    background-color: #fff;
    flex-direction: row;
    height: 100%;
    width: 170px;
    border: 1px solid #363636;
    border-radius: 4px;
    justify-content: space-around;
    padding: 1px;
}

.pagination-boxes{    
    display: flex;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #08D6A3;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}